.banner {
    background-color: #465b79;
}
.banner_secret_text{
    position: absolute;
    top: 40%;
}
.banner_secret_text .p1{
    font-size: 44px;
    text-align: left;
}
.banner_secret_text .p2{
    font-size: 18px;
    text-align: left;
    margin-top: 35px;
    line-height: 39px;
}
.banner_secret_text .p3 {
    background-color: #337ab7;
    color: white;
    padding: 10px 13px;
    border-radius: 4px;
    float: left;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.banner_secret_text .p3:hover{
    background-color: #214b6f;
}
.product_frame_img{
    height: 400px;
    width: 100%;
    line-height: 400px;
    text-align: center;
}
.about_h {
    margin: 60px 0px;
    height: 70px;
    line-height: 70px;
}
.about_h p {
    line-height: 35px;
}
.about_h .title{
    font-size: 25px;
    font-weight: bold;
}
@media (max-width: 991px) and (min-width: 769px) {
    .about_h {
        margin: 10px 0px;
        height: 100%;
    }
    .about_h .title{
        text-align: center;
    }
}
@media (max-width: 768px) {
    .banner_secret_text .p1{
        font-size: 25px;
    }
    .banner_secret_text .p2{
        font-size: 16px;
        margin-top: 20px;
    }
    .about_h {
        margin: 10px 0px;
        height: 100%;
    }
    .about_h .title{
        text-align: center;
    }
}