.jumbotron{
    background: url('//p0.ifengimg.com/fe/zl/test/live/p2p_index/index2.png')
}
.title{
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.introduce{
    margin-top: 40px;
    padding: 10px 0;
    font-size: 17px !important;
}
ul {
    padding-left: 0 ;
}
p{
    font-family: PingFangSC-Light,'helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif !important;
}
.sdklink{
    text-align: left;
    display: block;
    margin-top: 30px;
    padding-left: 0;
}
.sdklink li{
    list-style: none;
    float: left;
}
.sdklink li a{
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
}
.clearfix::after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
.sdklink li a:hover {
    color: black;
    background-color: #fff;
    transition: background-color 0.4s;
}
table tr th{
    text-align: center;
}
table tr td{
    font-family: PingFangSC-Light,'helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif;
    line-height: 24px !important;
    display:table-cell !important;
    vertical-align:middle !important
}
.advantage{
    border-left:3px solid #2f94f2;
    padding-left: 10px;
    margin: 10px 0 20px;
}
.tab_active{
    background: #fff !important;
}
@media (max-width:992px){
    .sdklink li a{
        padding: 8px 16px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 10px;
        color: #fff;
        text-decoration: none;
    }
    .pc{
        display: none
    }
    .mobile{
        display: block;
    }
}
@media ( min-width:992px){
    .pc{
        display: block
    }
    .mobile{
        display: none;
    }
    .tab_content{
        height: 470px;
        border: 1px solid #dcdcdc;
    }
    .tab_content_head{
        display: block;
        height: 50px;
        padding-left: 0;
    }
    .tab_content_head li {
        list-style: none;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        border-right: 1px solid #fff;
        background: #dcdcdc;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important
    }
    .tab_content_head li:first-child{
        color: #2f94f2;
    }
    .tab_content_head li:last-child{
        border-right:none;
    }
    .tab_cons{
        padding: 30px 24px;
        margin: 10px 0;
        display: none
    }
    .tab_cons:first-child{
        display: block
    }

}
.tab_cons p {
    font-family: PingFangSC-Light,'helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif !important;
    color: #666666;
    line-height: 24px;
    padding: 10px 0;
}
.tab_cons img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: 310px;
}
.tab_child{
   padding: 10px 0 20px;
}
.tab_child p{
    font-family: PingFangSC-Light,'helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif !important;
    color: #666666;
    line-height: 24px;
    padding: 10px 10px 0;
}
.tab_child img{
    display: block;
    max-width: 320px;
    margin: 0 auto;

}
.tab_mobile li {
    list-style: none;
    margin-bottom: 10px;
    border:1px solid #e5e5e5;
}
.mobile_title{
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    background: #f1f1f1;
    display: block;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    position: relative
}
.tab_child{
    display: none;
}
.showactive .tab_child{
    display: block;
}
.showactive .mobile_title{
    border-bottom:1px solid #e5e5e5;
}
.mobile_title i{
    display: inline-block;
    position: absolute;
    right: 20px;
    color: #999;
    top: 16px;
}
.link{
    color:#2f94f2;
    border: 1px solid #2f94f2;
    padding: 10px 30px;
    border-radius: 7px;
}
.link:hover{
    color: #fff;
    background-color: #2f94f2;
    text-decoration: none;
    transition: background-color 0.4s;
}
@media (max-width: 767px) {
    .sdklink {
        margin-top: 20px;
    }
    .introduce {
        margin-top: 15px;
    }
}