<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <%= htmlWebpackPlugin.options.statisticsHeader %>
        <% for (key in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
            <% } %>
</head>

<body>
    <!-- nav start  -->
    <%= htmlWebpackPlugin.options.header %>
        <!-- nav end  -->
        <!-- banner start -->
        <div class="banner">
            <div class="container">
                <div class="banner_secret_text">
                    <p class="p1">极致安全</p>
                    <p class="p2">充分保护用户隐私，构建安全保障。</p>
                    <a class="p3" href="sdk.html">立即体验</a>
                </div>
            </div>
        </div>
        <!-- banner end -->
        <!-- 产品技术框架 -->
        <div class="spread_progress pb40 pt40 mb5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="spread_head">产品技术框架</h2>
                        <hr class="my-4">
                    </div>
                </div>
                <div class="row product_frame_img">
                    <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/product_frame.png">
                </div>
            </div>
        </div>
        <div class="accurate_spread pb40 pt40">
            <div class="container">
                <div class="row about_h">
                    <div class="col-md-1"></div>
                    <div class="col-md-1 text-center">
                        <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/icons8-key-64.png">
                    </div>
                    <p class="col-md-10 title">全私有协议</p>
                    <p class="col-md-10 content">
                        全私有协议，传输数据使用高级别加密算法，避免第三方窃取用户数据，保障您在互联网大数据时代的信息安全，放置信息流出。
                    </p>
                </div>
                <div class="row about_h">
                    <div class="col-md-1"></div>
                    <div class="col-md-1 text-center">
                        <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/icons8-shield-64.png">
                    </div>
                    <p class="col-md-10 title">业务隔离</p>
                    <p class="col-md-10 content">
                        海螺加速服务以极低耦合性的方式嵌入到您的产品中，无差别加速不同的业务数据，不参与业务逻辑的制定，不存在数据泄密的可能性。
                    </p>
                </div>
            </div>
        </div>
        <!-- footer start -->
        <%= htmlWebpackPlugin.options.footer %>
            <%= htmlWebpackPlugin.options.statisticsFooter %>
                <!-- footer end -->
                <% if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
                    <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %>
                        <% } %>
                            <% for (key in htmlWebpackPlugin.files.chunks) { %>
                                <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
                                <% } %>
</body>

</html>