.banner {
    background-color: #465b79;
}
.banner_secret_text {
    position: absolute;
    top: 40%;
}
.banner_secret_text .p1 {
    font-size: 44px;
    text-align: left;
}
.banner_secret_text .p2 {
    font-size: 18px;
    text-align: left;
    margin-top: 35px;
    line-height: 39px;
}
.banner_secret_text .p3 {
    background-color: #337ab7;
    color: white;
    padding: 10px 13px;
    border-radius: 4px;
    float: left;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.banner_secret_text .p3:hover {
    background-color: #214b6f;
}
.stable_schedule_ul {
    padding-left: 0px;
    width: 100%;
}
.stable_schedule_ul li {
    float: left;
    list-style-type: none;
    text-align: center;
}
.percent_num{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    line-height: 160px;
    font-size: 25px;
    font-weight: bold;
    color: #1b8de6;
}
@media (max-width: 768px) {
    .banner_secret_text .p1 {
        font-size: 25px;
    }
    .banner_secret_text .p2 {
        font-size: 14px;
        margin-top: 20px;
    }
    .stable_schedule_ul li {
        float: none;
        margin-bottom: 20px;
    }
    .stable_content {
        line-height: 30px;
    }
    .about_h{
        height: 150px !important;
    }
}
.circleProgress_wrapper {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}

.wrapper {
    width: 80px;
    height: 160px;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.right {
    right: 0;
}
.left {
    left: 0;
}
.circleProgress {
    width: 160px;
    height: 160px;
    border: 18px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
}
.rightcircle {
    border-top: 18px solid #1b8de6;
    border-right: 18px solid #1b8de6;
    right: 0;
}
.leftcircle {
    border-bottom: 18px solid #1b8de6;
    border-left: 18px solid #1b8de6;
    left: 0;
}
.remote1{
    -webkit-transform: rotate(-77.4deg);
}
.remote2{
    -webkit-transform: rotate(39.564deg);
}
.remote3{
    -webkit-transform: rotate(-63deg);
}
.about_h{
    margin: 25px 0px;
    height: 70px;
    line-height: 70px;
}
.stable_content{
    font-size: 15px;
}

