html,body{
    height: 100%;
}
.login_header{
    width: 100%;
    height: 60px;
    line-height:60px;
    position: fixed;
}
.login_logo img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.login_logo a{
    color: #fff;
    text-decoration: none;
}

.return_home a{
    color: #fff;
    text-decoration: none;
}
.return_home i{
    margin-right: 5px;
}
.register_body{
    display: table;
    width: 100%;
    height: 100%;
    background: url('//p0.ifengimg.com/fe/zl/test/live/p2p_index//login.png') no-repeat;
    background-size: cover;
    color: #fff;
}
.vertical{
    display: table-cell;
    vertical-align: middle;
}
.register_frame{
    float: right;
    border: 1px solid white;
    padding: 20px 20px 20px 10px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
}
.register_title{
    color: #0000009e;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 17px;
}
.form-group {
    margin-bottom: 22px;
}
.control-label{
    padding-right: 0px;
}
.have_account{
    height: 34px;
    line-height: 34px;
}
.have_account:hover{
    text-decoration: none;
}
.btn-primary{
    background-color:#356ef2;
}
.btn-primary:hover{
    background-color:#305ec7;
}
.register_button{
    margin: 0 auto;
}
.register_button input{
    width: 70% !important;
    float: right;
}
label.error{
    position: absolute;
    left: 16px;
    color: red;
    font-size: 10px;
}
.phoneNumError, .needPhoneNum{
    display:none;
    font-size: 12px;
    color: red;
    position:absolute;
    left: 17px;
}
@media (max-width: 767px)  {
    .login_header{
        background: #313848;
        border-bottom: 0px;
    }
    .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
    .register_body{
        background: #fff;
    }
    .vertical {
        display:block;
        margin-top: 62px;
    }
}
.verification_email{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0000009e;
    color: black;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 100;
    padding-top: 20%;
}
.verification_model{
    position: relative;
    margin: 0px auto;
    color: black;
    background: #fff;
    width: 28%;
    height: 46%;
    border-radius: 5px;
    padding: 36px;
}
.verification_title i{
    color: red;
}
.verification_title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.verification_content{
    margin-bottom: 25px;
    font-size: 15px;
}
.verification_problem{
    font-size: 13px;
    color: #000000c9;
}
.verification_confirm{
    position: absolute;
    top: 0px;
    right: 6px;
    background: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    cursor:pointer;
}
.sendEmail_again {
    cursor: pointer;

}
.sendEmail_again:hover{
    text-decoration: none;
}