<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/iconfont.js"></script>
    <link rel="stylesheet" href="/lib/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/lib/css/jquery.raty.css">
    <%= htmlWebpackPlugin.options.statisticsHeader %>
        <% for (key in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">

            <% } %>
</head>

<body>
    <!-- nav start  -->
    <%= htmlWebpackPlugin.options.header %>
        <!-- nav end  -->
        <!-- banner start -->
        <div id="person">
            <div class="container mix2">
                <h5 class="J_proName">个人中心</h5>
                <div class="row">
                    <div class="person_left col-lg-2">
                        <div class="person_menu">
                            <div class="person_title">
                                <img src="https://image1.ljcdn.com/usercenter/images/uc_ehr_avatar/5805e808-1d93-4022-8fa1-21c8514275c6.jpg.55x55.jpg" alt="">
                                <p>
                                    <span>欢饮您，826011374@qq.com</span>
                                </p>
                            </div>
                            <div class="person_con">
                                <ul>
                                    <li >
                                        <a href="">我的预约</a>
                                    </li>
                                    <li class="cilckClass">
                                        <a href="">我的收藏</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="person_right col-lg-10">
                        <div class="person_box">
                            <div>
                                <h4>共0间关注房源</h4>
                            </div>
                            <div class="list row">
                                <div class="list_left ">
                                   <a href="" style="display: block">
                                        <img src="http://localhost:8080/house/house5.jpg" alt="">
                                   </a>
                                </div>
                                <div class="list_right">
                                    <h3>房间号  3305</h3>
                                    <p class="list_desc"> 干净整洁，舒适入住</p>
                                    <div>
                                        <span>楼层：2层</span><span>面积：15平米</span><span>窗户方位：2层</span><span>已入住人数：2人</span>
                                    </div>
                                    <p class="list_i">正在火热预约中</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer start -->
        <%= htmlWebpackPlugin.options.footer %>
            <%= htmlWebpackPlugin.options.statisticsFooter %>
                <!-- footer end -->
                <% if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
                    <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %>
                        <% } %>
                            <% for (key in htmlWebpackPlugin.files.chunks) { %>
                                <script type="text/javascript" src="/lib/js/vue.js"></script>
                                <script src="/lib/js/jquery.raty.js"></script>
                                <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
                                <script src="/lib/js/swiper-3.4.2.min.js"></script>
                                <% } %>
</body>

</html>