<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <%= htmlWebpackPlugin.options.statisticsHeader %>
        <% for (key in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
            <% } %>
</head>

<body>
    <!-- nav start  -->
    <%= htmlWebpackPlugin.options.header %>
        <!-- nav end  -->
        <!-- banner start -->
        <div class="banner">
            <div class="container">
                <div class="banner_secret_text">
                    <p class="p1">优质体验</p>
                    <p class="p2">海螺加速以最新的P2P技术为基础，依托成熟的技术和先进的算法，为流媒体加速提供最优质的服务。</p>
                    <a class="p3" href="sdk.html">立即体验</a>
                </div>
            </div>
        </div>
        <!-- banner end -->
        <!--  -->
        <div class="spread_progress pb40 pt40 mb5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="spread_head">连接成功率高、连接稳定</h2>
                        <hr class="my-4">
                    </div>
                </div>
                <div class="row stable_schedule">
                    <ul class="stable_schedule_ul">
                        <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="circleProgress_wrapper">
                                <div class="wrapper left">
                                    <div class="circleProgress leftcircle remote1"></div>
                                </div>
                                <div class="wrapper right">
                                    <div class="circleProgress rightcircle"></div>
                                </div>
                                <span class="percent_num">66%</span>
                            </div>
                            <p>连通成功率(无线环境)</p>
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="circleProgress_wrapper">
                                <div class="wrapper left">
                                    <div class="circleProgress leftcircle remote2"></div>
                                </div>
                                <div class="wrapper right">
                                    <div class="circleProgress rightcircle"></div>
                                </div>
                                <span class="percent_num">98.49%</span>
                            </div>
                            <p>内测130台不同机型、testin平台596款手机
                                <br>稳定性通过率高达98.49%</p>
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="circleProgress_wrapper">
                                <div class="wrapper left">
                                    <div class="circleProgress leftcircle remote3"></div>
                                </div>
                                <div class="wrapper right">
                                    <div class="circleProgress rightcircle"></div>
                                </div>
                                <span class="percent_num">70%</span>
                            </div>
                            <p>
                                智能探测网络链路状况
                                <br>根据实际状况启用FEC前向预测
                                <br>抗丢包率高达70%
                            </p>
                        </li>
                        <div class="clear_float"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accurate_spread pb40 pt40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="spread_head">自适应加速，提高性价比</h2>
                        <hr class="my-4">
                    </div>
                </div>
                <div class="row about_h">
                    <div class="col-md-2"></div>
                    <div class="col-md-1 text-center">
                        <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/icons8-robot-2-64.png">
                    </div>
                    <p class="col-md-9 stable_content">
                        自动检测P2P节点，并优选低费的P2P加速，同时在线1000人，或日活大于10万时，分享率最高可达70%
                    </p>
                </div>
                <div class="row about_h">
                    <div class="col-md-2"></div>
                    <div class="col-md-1 text-center">
                        <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/icons8-gears-64.png">
                    </div>
                    <p class="col-md-9 stable_content">
                        根据实际链路状况选择加速方式，当用户切换至3G/4G环境中，考虑流量费用，自动切换到CDN加速
                    </p>
                </div>
                <div class="row about_h">
                    <div class="col-md-2"></div>
                    <div class="col-md-1 text-center">
                        <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/icons8-server-64.png">
                    </div>
                    <p class="col-md-9 stable_content">
                        成熟的技术基础，海量数据的调参、优化，提供了国内最高的P2P分享率（P2P加速流量占总加速流量的比例）
                    </p>
                </div>
            </div>
        </div>
        <!-- footer start -->
        <%= htmlWebpackPlugin.options.footer %>
            <%= htmlWebpackPlugin.options.statisticsFooter %>
                <!-- footer end -->
                <% if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
                    <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %>
                        <% } %>
                            <% for (key in htmlWebpackPlugin.files.chunks) { %>
                                <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
                                <% } %>
</body>

</html>