<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <%= htmlWebpackPlugin.options.statisticsHeader %>
        <% for (key in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
            <% } %>
                <link rel="stylesheet" href="//p3.ifengimg.com/a/2017/1228/loader.css">
</head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        <div class="load_title">正在加载, 请稍候</div>
    </div>
    <!-- nav start  -->
    <header class="login_header">
        <div class="container">
            <div class="login_logo col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="product.html" style="display: inline-block;">
                    <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/logo-02.png" alt="" class="login-logo-img">预约服务
                </a>
                <a href="about.html">
                   关于我们
                </a>
            </div>
            <div class="return_home col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                <a href="index.html">
                    <i class="fa fa-home fa-x" aria-hidden="true"></i>返回首页
                </a>
            </div>
        </div>
    </header>
    <div class="login-content">
        <div class="vertical">
            <div class="container">
                <div class="col-lg-6  col-sm-12 col-md-6 login-content-left">
                    <div class="login-left-main">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6 login-content-right">
                    <div class="login-right-main">
                        <div class="content-cen login_code" style="display:block">
                            <div class="code_title">
                               <h4 style="font-weight: bold;">扫码登录</h4>
                            </div>
                            <div class="scanCode">
                                <div class="codeCover">
                                    <div id="code"> </div>
                                </div>
                                <p>打开<span style="color: red">民众托老所</span>小程序扫一扫</p>
                                <div class="changeWay">
                                    <a id="accout_login">账户登录<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="content-cen login_mobile" style="display:none">
                            <div class="content_title">
                                <span>手机验证码登录</span>
                                <a class="change_login" id="mailLogin">
                                    邮箱账号登录
                                    <i class="fa fa-user-circle"></i>
                                </a>
                            </div>
                            <form id="login_phone">
                                <div class="content_input">
                                    <div class="form-group">
                                        <i class="fa fa-mobile-phone (alias) fa-fw input_icon"></i>
                                        <input type="text" class="form-control form-alter" id="phoneNumber" placeholder="手机号" name="phoneNumber">
                                        <span class="check_mob">手机号格式不正确</span>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-lock fa-fw input_icon"></i>
                                        <input type="text" class="form-control login-code form-alter" aria-describedby="" placeholder="验证码" id="phoneCode" name="phoneCode">
                                        <input type="button" class="btn btn-success btn-get-code" style="margin-left:15px" value="获取验证码" onclick="sendCode(this)"
                                        />
                                        <span class="code_error" id="phoneCode_error">验证码不正确,请重新填写!</span>
                                    </div>
                                </div>
                                <div class="login_button">
                                    <input class="btn btn-primary login-but" id="login_mobile" value="登录" type="submit"></input>
                                    <p class="content_input_p clearfix">
                                        <a href="register.html" target="_blank" class="redister_acc">注册账号</a>
                                        <a href="" target="_blank" class="forget_code">忘记密码？</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="content-cen login_mail" style="display:none">
                            <div class="content_title">
                                <span>邮箱账号登录</span>
                                <a class="change_login" id="phoneLogin">
                                    手机验证码登录
                                    <i class="fa fa-mobile-phone (alias) fa-x"></i>
                                </a>
                            </div>
                            <form id="login_form">
                                <div class="content_input">
                                    <div class="form-group">
                                        <i class="fa fa-envelope-o fa-fw input_icon"></i>
                                        <input type="text" class="form-control form-alter" placeholder="邮箱" name="email" id="email">
                                        <span class="check_mob">邮箱格式不正确</span>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-key fa-fw input_icon"></i>
                                        <input type="password" class="form-control form-alter" placeholder="密码" name="password" id="password">
                                    </div>
                                    <!-- <div class="form-group">
                                        <i class="fa fa-lock fa-fw input_icon"></i>
                                        <input type="text" class="form-control form-alter" placeholder="验证码" name="img_code" id="img_code">
                                        <span class="code_error" id="code_error">验证码不正确,请重新填写!</span>
                                    </div>
                                    <div class="idengtify_img">
                                        <img src="" alt="" class="idenfity_code" id="idenfity_code">
                                        <a id="changeCode" class="changeCode" href="javascript:void(0)">看不清,换一张</a>
                                    </div> -->
                                </div>
                                <div class="login_button_mob">
                                    <input class="btn btn-primary login-but" id="login_mail" type="submit" value="登录"></input>
                                    <p class="content_input_p1 clearfix">
                                        <a href="register.html" class="redister_acc">注册账号</a>
                                        <a href="" target="_blank" class="forget_code">忘记密码？</a>
                                    </p>
                                </div>
                            </form>
                            <div class="changeWay">
                                <a id="scanCode_login">扫一扫登录<i class="fa fa-arrow-right"></i></a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//p0.ifengimg.com/a/2017/1222/jquery-3.2.1.min.js"></script>
    <script src="//p0.ifengimg.com/a/2017/1222/bootstrap-3.37.min.js"></script>
    <script src="//static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="//static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="/lib/js/layer/layer.js"></script>
    <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script>
        function addFixed(params) {
            var t, n, i, o;
            return t = {
                fxdClass: "fxd",
                elem: "elem",
                prevPosition: "relative"
            },
                params = params || t,
                n = params.fxdClass,
                o = params.prevPosition,
                i = params.elem,
                i.height(),
                $(window).scrollTop() > 0 ? i.css({
                    position: "fixed"
                }).addClass(n) : i.css({
                    position: o
                }).removeClass(n),
                $(window).scroll(function () {
                    var e;
                    if (!($(window).width() < 768))
                        return e = $(window).scrollTop(),
                            e > 0 ? i.css({
                                position: "fixed"
                            }).addClass(n) : i.css({
                                position: o
                            }).removeClass(n)
                })
        };
        $(document).ready(function () {
            addFixed({
                elem: $("#navbar"),
                fxdClass: "nav-bg",
                prevPosition: "fixed"
            });
            $('body').addClass('loaded');
            $('#loader-wrapper .load_title').remove();
        });
       

        var clock = '';
        var nums = 60;
        var btn;
        /*
         *验证码动画方法 
        */
        function sendCode(thisBtn) {
            if (checkMobile() == false) {
                $('.check_mob').show();
                return false;
            } else $('.check_mob').hide();
            btn = thisBtn;
            btn.disabled = true; //将按钮置为不可点击
            btn.value = nums + '秒后可重新获取';
            clock = setInterval(doLoop, 1000); //一秒执行一次
            var phoneNum = $('#phoneNumber').val();
            getIdentifyCode(phoneNum); //获取验证码
        }
        /*
         *验证码定时器
         */
        function doLoop() {
            nums--;
            if (nums > 0) {
                btn.value = nums + '秒后可重新获取';
            } else {
                clearInterval(clock); //清除js定时器
                btn.disabled = false;
                btn.value = '点击发送验证码';
                nums = 60; //重置时间
            }
        }
        /**
         * 
         * 获取手机验证码
         * @param {any} phone 
         */
        function getIdentifyCode(phone) {
            let data = {
                phone:phone,
                type:'login'
            }
            $.ajax({
                type: 'get',
                url: 'http://123.207.164.37:3300/user/sendSmsCode',
                data: {
                    body: JSON.stringify(data)
                },
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                },
                success: function (res) {
                    console.log(res);
                    // if (res.code == 200) {
                    //}
                },
            });
        }

        // 手机号格式验证
        function checkMobile() {
            var sMobile = $('#phoneNumber').val();
            if (!/^1[34578]\d{9}$/.test(sMobile)) {
                return false;
            } else {
                return true;
            }
        }

        function checkEmail(email) {
            var myReg = /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
            if (myReg.test(email)) {
                return true;
            } else {
                return false;
            }
        }
        $().ready(function () {
            $('#login_form').validate({
                debug: true,
                rules: {
                    email: {
                        required: true,
                    },
                    password: {
                        required: true,
                        minlength: 6,
                    },
                    img_code: {
                        required: true,
                    },
                    phoneNumber: {
                        required: true,
                    }
                },
                messages: {
                    email: {
                        required: '请输入邮箱',
                    },
                    password: {
                        required: '请输入密码',
                        minlength: '长度至少为6位',
                    },
                    img_code: {
                        required: '请输入验证码',
                    },
                    phoneNumber: {
                        required: '请输入手机号',
                    }
                },
            });
            $('#login_phone').validate({
                debug: true,
                rules: {
                    phoneNumber: {
                        required: true,
                    },
                    phoneCode: {
                        required: true,
                    }
                },
                messages: {
                    phoneNumber: {
                        required: '请输入手机号',
                    },
                    phoneCode: {
                        required: '请输入手机验证码'
                    }
                }
            })
        });

        $.ajax({
            type: "get",
            url: "http://123.207.164.37:3300/wechat/getScanCode",
            success: function (res) {
                if (res.code == 0) {
                    //显示到网页上  免费在线二维码生成的API
                   $('#code').qrcode({
                        width: 170,
                        height: 170,
                        text: res.data
                    })
                    //轮询 查询该qruuid的状态 直到登录成功或者过期(过期这里没判断，留给大家)
                    var interval1 = setInterval(function () {
                        $.ajax({
                            type: "GET",
                            url: "http://123.207.164.37:3300/wechat/getUserInfo",
                            success: function (result) {
                                console.log(result)
                                if (result.code == 0) {
                                    layer.msg('扫码成功！', { offset: '100px' });
                                    //停止轮询
                                    clearInterval(interval1);
                                    sessionStorage.setItem('userInfo', JSON.stringify(result.data));
                                    location.assign('index.html');
                                    //TODO 拿到需要的信息 然后跳转什么的
                                }
                            }
                        });
                    }, 1000);//1秒钟  频率按需求
                }
            }
        });
    </script>
    <!-- footer end -->
    <% if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
        <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %>
            <% } %>
                <% for (key in htmlWebpackPlugin.files.chunks) { %>

                    <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
                    <% } %>
</body>

</html>