<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <%= htmlWebpackPlugin.options.statisticsHeader %>
        <% for (key in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
            <% } %>
</head>

<body>
    <!-- nav start  -->
    <%= htmlWebpackPlugin.options.header %>
        <!-- nav end  -->

        <!-- banner start -->
        <div class="jumbotron">
            <div class="about_mask"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="intro">
                            <h2 class="title">
                               生活照料 专业护理
                            </h2>
                            <h2 class="title">
                                人性化设计 科学化配置
                            </h2>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- banner end -->

        <!-- spread start -->
        <div class="accurate_spread pb40 pt40">
                <div class="row">
                    <div class="text-center ruzhu">
                       <div class="rz_text">
                         入住当天请携带本人及家属的身份证或户口薄，办理手续并交纳费用；提供指定的体检报告，或住院病历复印件等，家属应如实说明高龄人近期的健康状况、精神状况等生活基本状况；如需无障碍车辆，请在入住前3日预定。入住时须携带公寓规定的《入住必备物品》，除此之外，仅限于小家电、小家具，禁止携带现金及贵重物品。入住当日，由工作人员与本人或家属共同清点公寓的公共配套设施和自带的药品、物品，使用自备药品需提供医生开具的处方；向工作人员介绍日常生活习惯、兴趣爱好、饮食习惯、禁忌、注意事项等，有特殊需求者，填写《特殊需求单》。入住后，医护人员对高龄人的健康状况和生活能力定期进行评估，工作人员将根据评估结果制定护理计划并实施。公寓会及时将评估结果与本人及家属沟通确认。
                       </div>
                    </div>
                </div>
                <div class="row about_head_list">
                   
                </div>
        </div>
        <div class="accurate_spread features-color pb40 pt40">
            <div class="container step_box">
                <div class="step">
                    <div class="title">入住流程</div>
                </div>
            </div>
        </div>
        <!-- spread end -->

        <!-- footer start -->
        <%= htmlWebpackPlugin.options.footer %>
            <%= htmlWebpackPlugin.options.statisticsFooter %>
                <!-- footer end -->
                <% if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
                    <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %>
                        <% } %>
                            <% for (key in htmlWebpackPlugin.files.chunks) { %>
                                <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
                                <% } %>
</body>
</html>