<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <%= htmlWebpackPlugin.options.statisticsHeader %>
        <% for (key in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
            <% } %>

                <script src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/iconfont.js"></script>
                <style type="text/css">
                    .icon {
                        width: 26px;
                        height: 26px;
                        vertical-align: -0.15em;
                        fill: #337ab7;
                        overflow: hidden;
                    }
                </style>
</head>

<body>
    <!-- nav start  -->
    <%= htmlWebpackPlugin.options.header %>
        <!-- nav end  -->

        <!-- banner start -->
        <div class="banner">
            <div class="container">
                <div class="banner_text">
                    <p class="p1">价格计算器</p>
                    <p class="p2">一键计算海螺服务节省流量</p>
                </div>
                <img width="450" src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/price.png" alt="banner">
            </div>
        </div>
        <!-- banner end -->

        <!-- 产品价格/计算器 -->
        <div class="feature-price-nav">
            <div class="container">
                <a class="price active" href="javascript:void(0);">
                    产品价格
                </a>
                <a class="caculator" href="javascript:void(0);">
                    价格计算器
                </a>
            </div>
        </div>
        <span id="select_price">
            <!-- 计费方式 -->
            <div class="cacu-type pt40">
                <div class="container">
                    <h2 class="mb40">
                        计费规则
                    </h2>
                    <div class="cacu-inner">
                        <h4 class="mb40">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-trade"></use>
                            </svg>计费方式</h4>
                        <p>以视频点播加速服务消耗的国内和国外流量分为CDN和海螺加速服务两大类独立计费，视频加速按照流量使用情况采用阶梯累计付费方式，使用流量按照范围内计费，超出阶梯部分按照下一阶梯价格计费，使用流量越多，价格越低。</p>
                    </div>
                    <div class="cacu-inner">
                        <h4 class="mb40">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-Calculator"></use>
                            </svg>
                            费用结算
                        </h4>
                        <p>先使用后付费，每月逢1结算之前的费用，即每月1号结算上月21号至月底费用，每月11号结算本月1号至本月10号费用，每月21号结算本月11号至本月20号费用。</p>
                    </div>
                    <div class="cacu-inner">
                        <h4 class="mb40">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-calendar"></use>
                            </svg>计费周期</h4>
                        <p>按日计算，每日03:00后出前24小时的费用。</p>
                    </div>
                </div>
            </div>

            <!-- 价格详情 -->
            <div class="cacu-type pt40 pb100">
                <div class="container">
                    <h2 class="mb40">价格详情</h2>
                    <div class="cacu-inner pad0">

                        <table>
                            <tr height="70">
                                <td width="240" rowSpan="2">流量阶梯</td>
                                <td colSpan="2">国内价格（元/GB）</td>
                                <td colSpan="2">国外价格（元/GB）</td>
                            </tr>
                            <tr height="70">
                                <td width="225">CDN（友商价格）</td>
                                <td width="225">P2P</td>
                                <td width="225">CDN（友商价格）</td>
                                <td width="225">P2P</td>
                            </tr>
                            <tr height="70">
                                <td>0GB ~ 10TB</td>
                                <td>0.272</td>
                                <td>0.19</td>
                                <td>0.46</td>
                                <td>0.23</td>
                            </tr>
                            <tr height="70">
                                <td>10TB ~ 50TB</td>
                                <td>0.266</td>
                                <td>0.15</td>
                                <td>0.42</td>
                                <td>0.21</td>
                            </tr>
                            <tr height="70">
                                <td>50TB ~ 100TB</td>
                                <td>0.24</td>
                                <td>0.12</td>
                                <td>0.39</td>
                                <td>0.18</td>
                            </tr>
                            <tr height="70">
                                <td>100TB ~ 1PB</td>
                                <td>0.203</td>
                                <td>0.10</td>
                                <td>0.35</td>
                                <td>0.17</td>
                            </tr>
                            <tr height="70">
                                <td>> 1PB</td>
                                <td>0.17</td>
                                <td>0.07</td>
                                <td>0.35</td>
                                <td>0.15</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


        </span>
        <span id="select_cacu" class="hide">

            <!-- 计费方式 -->
            <div class="cacu-type pt40 mb50">
                <div class="container">
                    <div class="baifenbi50 border-right">

                        <div class="cacu-inner">
                            <h4 class="mb40">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-Calculator"></use>
                                </svg>
                                流量计算</h4>
                            <div class="cacu-select height180">
                                <div class="select-ele fl mr100">
                                    <div class="select-header">
                                        国内P2P流量/月
                                    </div>
                                    <div class="select-inner">
                                        <div class="input-group">
                                            <input type="number" id="country_in" class="form-control" placeholder="选择国内P2P流量" aria-describedby="basic-addon2">
                                            <span class="input-group-addon">TB</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-ele fl">
                                    <div class="select-header">
                                        国外P2P流量/月
                                    </div>
                                    <div class="select-inner">
                                        <div class="input-group">
                                            <input type="number" id="country_out" class="form-control" placeholder="选择国外P2P流量" aria-describedby="basic-addon2">
                                            <span class="input-group-addon">TB</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="baifenbi50 border-left">

                        <div class="cacu-inner">
                            <h4 class="mb40">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-trade"></use>
                                </svg>
                                结果</h4>
                            <div class="cacu-select height180">
                                <p>
                                    <span class="rmb_title">使用CDN</span> ￥
                                    <span id="rmb_cdn">0</span> / 月</p>
                                <p class="mt15 mb20">
                                    <span class="rmb_title">使用P2P</span> ￥
                                    <span id="rmb_p2p">0</span> / 月</p>
                                <div class="border2red"></div>
                                <p class="save">
                                    <span class="save_title">节省了：</span> ￥
                                    <span id="rmb_save">0</span> / 月</p>
                            </div>
                            <div class="little_tip">
                                <p>
                                    根据左侧使用流量的情况，自动计算使用CDN和P2P的费用，即二者之差的节省费用
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </span>

        <!-- footer start -->
        <%= htmlWebpackPlugin.options.footer %>
            <%= htmlWebpackPlugin.options.statisticsFooter %>
                <!-- footer end -->
                <% if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
                    <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %>
                        <% } %>
                            <% for (key in htmlWebpackPlugin.files.chunks) { %>
                                <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
                                <% } %>

</body>

</html>