<footer class="footer-xs hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8  ">
                <div class="row grey-link">
                    <div class="col-sm-4 col-xs-4">
                        <dl>
                            <dt>产品与服务</dt>
                            <dd>
                                <a href="product.html#section1">海螺加速</a>
                            </dd>
                            <dd>
                                <a href="product.html#section2">流媒体方案</a>
                            </dd>
                            <dd>
                                <a href="product.html#section3">数据决策</a>
                            </dd>

                        </dl>
                    </div>
                    <div class="col-sm-4 col-xs-4 ">
                        <dl>
                            <dt>关于我们</dt>
                            <dd>
                                <a href="about.html">公司介绍</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4 text-center">
                <a class="logo">
                    <!-- <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/logo-02.png" alt=""> -->
                    <span>关注民众托老所</span>
                </a>
                <div class="qrcode">
                    <img src="//p1.ifengimg.com/a/2018/0202/hlplayer.png" alt="">
                </div>
            </div>
        </div>
        <div class="links grey-link">
            <!-- <div class="cloud-center">
                <a class="verify-logo" href=""></a>
                <a class="iso-logo" href=""></a>
            </div> -->
            <ul>
                <li>copyright © 2017 海螺服务</li>
                <li>
                    <a target="blank" href="">
                        <span class="icon icon-aq">
                            京ICP备14059622号-3
                        </span>
                    </a>
                </li>
            </ul>
            <div class="icp grey-color">


            </div>
        </div>
    </div>
</footer>
<footer class="visible-xs footer-mobile">
    <div class="container">
        <div class="collapse-wrapper">
            <ul class="panel-group">
                <li class="panel panel-info">
                    <div class="panel-heading panel-sort">
                        <a class="sort-name collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseProduct" aria-expanded="false">产品与服务</a>
                    </div>
                    <div id="collapseProduct" class="panel-collapse collapse-menu collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body panel-menu">
                            <div class="menu-unit">
                                <a href="product.html#section1">
                                    <h4 class="kodo">海螺加速</h4>
                                </a>
                            </div>
                            <div class="menu-unit">
                                <a href="product.html#section2">
                                    <h4 class="kodo">流媒体方案</h4>
                                </a>
                            </div>
                            <div class="menu-unit">
                                <a href="product.html#section3">
                                    <h4 class="kodo">数据决策</h4>
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="panel panel-info">
                    <div class="panel-heading panel-sort">
                        <a class="sort-name collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCare" aria-expanded="false">关于我们</a>
                    </div>
                    <div id="collapseCare" class="panel-collapse collapse-menu collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body panel-menu">
                            <div class="menu-unit">
                                <a href="about.html">
                                    <h4 class="kodo">公司介绍</h4>
                                </a>
                            </div>
                            <div class="menu-unit">
                                <a href="#">
                                    <h4 class="kodo">联系我们</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="panel panel-info">
                    <div class="panel-heading panel-sort">
                        <a class="sort-name collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCode" aria-expanded="false">关注我们</a>
                    </div>
                    <div id="collapseCode" class="panel-collapse collapse-menu collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body panel-menu">
                            <div class="text-center">
                                <a class="logo">
                                    <!-- <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/logo-02.png" alt=""> -->
                                    <span>关注民众托老所</span>
                                </a>
                                <div class="qrcode">
                                    <img src="//p1.ifengimg.com/a/2018/0202/hlplayer.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="links grey-link text-center">
            <ul>
                <li>© 2017 海螺服务</li>
                <li>
                    <a target="blank" href="">
                        <span class="icon icon-aq">
                            京ICP备14059622号-3
                        </span>
                    </a>
                </li>
            </ul>
            <div class="icp grey-color">


            </div>
        </div>
    </div>
</footer>