<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div class="load_title">正在加载, 请稍候</div>
</div>
<nav class="navbar  navbar-default" id="navbar" style="position: fixed">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img width="40" src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/logo-02.png" alt="Logo" />
            </a>
        </div>
        <div class="collapse navbar-collapse " id="Navbar" aria-expanded="false" style="height:1px;max-height:1000px">
            <ul class="nav navbar-nav navbar-nav-mobile common_height">
                <li id="product-dropdown-li">
                    <a href="product.html" class="solution-a">产品</a>
                    <span class="solution-visible1 fa fa-angle-up fa-1x" id="product-up" style="float:right;display:none"></span>
                    <span class="solution-visible fa fa-angle-down fa-1x " id="product-down" style="float:right;display:none"></span>
                    <ul class="" id="product-dropdown-menu-ul" style="list-style:none">
                        <li class="solution">
                            <a href="product.html#section1">
                                <h4 class="QOS menu-title">
                                    <i class="fa fa-bolt" style="margin-right:7px"></i>海螺加速</h4>
                                    <p class="hidden-xs">高性价比、极致安全</p>
                            </a>
                        </li>
                        <li class="solution">
                            <a href="product.html#section2">
                                <h4 class="QOS menu-title">
                                    <i class="fa fa-play-circle" style="margin-right:7px"></i>流媒体方案</h4>
                                    <p class="hidden-xs">支持各种格式和协议的流媒体播放</p>
                            </a>
                        </li>
                        <li class="solution">
                            <a href="product.html#section3">
                                <h4 class="QOS menu-title">
                                    <i class="fa fa-bar-chart" style="margin-right:7px"></i>数据决策</h4>
                                    <p class="hidden-xs">多维度实时数据监测与统计</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li id="solution-dropdown-li">
                    <a href="solutions.html" class="solution-a">解决方案</a>
                    <span class="solution-visible1 fa fa-angle-up fa-1x" id="solution-up" style="float:right;display:none"></span>
                    <span class="solution-visible fa fa-angle-down fa-1x " id="solution-down" style="float:right;display:none"></span>
                    <ul id="dropdown-menu-ul" style="list-style:none">
                        <li class="solution">
                            <a href="solutions.html#surroundings">
                                <h4 class="QOS menu-title">
                                    <i class="fa fa-connectdevelop" style="margin-right:7px"></i>弱网环境解决方案</h4>
                                    <p class="hidden-xs">海螺提供弱网环境中常见的连通率低、可见性低等加速问题的解决方案</p>
                            </a>
                        </li>
                        <li class="solution">
                            <a href="solutions.html#internet">
                                <h4 class="QOS menu-title">
                                    <i class="fa fa-tablet" style="margin-right:7px"></i>移动互联网解决方案</h4>
                                    <p class="hidden-xs">提供移动网络中链路状态不稳定造成的丢包、延时等问题解决方案</p>
                            </a>
                        </li>
                        <li class="solution">
                            <a href="solutions.html#player">
                                <h4 class="QOS menu-title">
                                    <i class="fa fa-file-video-o" style="margin-right:7px"></i>播放器解决方案</h4>
                                    <p class="hidden-xs">全自研、多功能的流媒体播放</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="price.html">价格</a>
                </li>
                <li>
                    <a href="about.html">关于我们</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-nav-mobile navbar-right common_height-ul">
                <li class=" common_height-li">
                    <a target="_blank" href="http://console.hlconnect.cn/">管理控制台</a>
                </li>
                <li class=" common_height-li">
                    <a target="_blank" href="http://develop.hlconnect.cn/">文档中心</a>
                </li>
                <li class="dropdownuserinfo" id="user-drop-down">
                    <a class="dropdown-toggle dropdown-toggle-mobile user-email" id="userEmail" data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false" style="color:#fff">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu user-menu login_info">
                        <li>
                            <a href="javascript:void(0);" class="text-sub" id="logOut">退出当前账号</a>
                        </li>
                    </ul>
                </li>
                <li class="needSignin">
                    <div class="actions">
                        <a href="login.html" class="btn btn-hollow">
                            登录
                        </a>
                        <a href="register.html" target="_blank" class="btn btn-primary hidden-xs">注册</a>
                        <a href="register.html" target="_blank" class="btn btn-primary visible-xs-inline">注册</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>