<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/iconfont.js"></script>
    <link rel="stylesheet" href="/lib/css/swiper-3.4.2.min.css">
    <%= htmlWebpackPlugin.options.statisticsHeader %>
        <% for (key in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
            <% } %>
</head>



<body>
    <!-- nav start  -->
    <%= htmlWebpackPlugin.options.header %>
        <!-- nav end  -->

        <!-- banner start -->
        <div class="swiper-container" id="swiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="banners">
                        <img src="/lib/images/slide2.jpg" alt="banner">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banners">
                        <img src="/lib/images/slide1.jpg" alt="banner">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banners">
                        <img src="/lib/images/bar1.jpg" alt="banner">
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination" id="pagination1"></div>
            <!-- Add Arrows -->
        </div>
        <!-- banner end -->

        <!-- spread_progress start -->
        <div class="spread_progress pb40 pt40 mb5 pc" id='houseinfo'>
            <div class="container">
                <div class="row" style="padding:0 10px">
                    <div class="col-lg-6">
                        <h2 class="spread_head"><span style="font-weight: bold">优质房间 </span>为你而选</h2>
                        <h5 style="color: #666">房间那么多，我们只挑最好的</h5>
                    </div>
                    <div class="col-lg-6 search" >
                       <div id='searchform'>
                           <select name="" id="" class="sstate" v-model="searchType">
                                <option value="direction" selected>方位</option>
                                <option value="roomOrder">房间号</option>
                                <option value="price">价格</option>
                           </select>
                           <input type="text" id="searchInput" placeholder="输入关键字进行搜索" v-model="searchValue">
                           <button id="submitButton" v-on:click="searchList" ><i class="fa fa-search fa-2x"></i></button>
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 house_box">
                        <ul class="house_list">
                            <li v-for="(val,index) in house" class="house_list_li col-lg-3" v-on:click="jump(val.roomOrder)">
                                <div class="listinfo item">
                                    <img v-bind:src="val.image[0]">
                                    <h3>{{val.roomOrder}}，正{{val.direction}}向，<span>{{val.price}}元/天</span></h3>
                                    <p>干净整洁，南北通透</p>
                                    <span>正在火热预约中</span>
                                </div>
                            </li>
                        </ul>
                        <div class="page-bar">
                            <ul>
                                <li v-if="cur>1">
                                    <a v-on:click="cur--,pageClick()">上一页</a>
                                </li>
                                <li v-if="cur==1">
                                    <a class="banclick">上一页</a>
                                </li>
                                <li v-for="index in indexs" v-bind:class="{ 'active': cur == index}">
                                    <a v-on:click="btnClick(index)">{{ index }}</a>
                                </li>
                                <li v-if="cur!=all">
                                    <a v-on:click="cur++,pageClick()">下一页</a>
                                </li>
                                <li v-if="cur == all">
                                    <a class="banclick">下一页</a>
                                </li>
                                <li>
                                    <a>共<i>{{all}}</i>页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- progress end -->
        <!-- footer start -->

        <%= htmlWebpackPlugin.options.footer %>

            <%= htmlWebpackPlugin.options.statisticsFooter %>

                <!-- footer end -->
                <% if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
                    <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %>
                        <% } %>
                            <% for (key in htmlWebpackPlugin.files.chunks) { %>
                                <script type="text/javascript" src="/lib/js/vue.js"></script>
                                <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
                                <% } %>
                                    <script src="/lib/js/swiper-3.4.2.min.js"></script>
                                    <script>
                                        var swiper1 = new Swiper('#swiper1', {
                                            pagination: '#pagination1',
                                            paginationClickable: true,
                                            spaceBetween: 0,
                                            speed: 800,
                                            loop: true,
                                            centeredSlides: true,
                                            autoplay: 3500,
                                            autoplayDisableOnInteraction: false
                                        });
                                    </script>
</body>
<!-- <script src="lib/jquery-3.2.1.min.js"></script>
<script src="lib/bootstrap-3.37.min.js"></script>
<script src="js/index.js"></script> -->

</html>